<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>正能量海报</title>
</head>
<body>
    <div style="width: 100vh;margin: auto" >
        <div style="width: 375px;position: relative;">
            <div style="width: 375px" id="jietu">
                <img
                    style="width: 375px"
                    src="{{ data.img_path }}"
                    alt=""
                >
            </div>
            <div style="position: absolute;bottom: 30px;left: 40%;">
                <div style="display: flex;flex-direction: row;align-items: center;font-size: 10px;height: 50px;min-width: 100px">
                    <div>
                        <img style="border-radius: 30px;width: 30px;height: 30px;object-fit: cover"
                             src="{{ data.set_avator }}"
                             alt="">
                    </div>
                    <div style="margin-left: 10px;min-width: 80px">{{ data.name }}</div>
                    <div style="margin-left: 10px;">{{ data.phone }}</div>

                </div>
            </div>
        </div>

    </div>
</body>
</html>
